<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books</title>
</head>
<body>
    <div>BOOKS PAGE</div>
    <a href="/books/create">CREATE</a>
    <% books.forEach(book=>{ %>
        <div><%=book.title%></div>
        <div><%=book.author%></div>
    <% }); %>
</body>
</html>