<div id="i-books-left-column">
    <nav id="i-books-left-column-nav">
        <ul>
            <a href="/books/search">
                <div class="i-books-left-column-nav-div">FIND BOOK</div>
            </a>
            <a href="/books/create">
                <div class="i-books-left-column-nav-div">ADD BOOK</div>
            </a>
            <a href="/synopsis/<%=book.book_title%>&<%=book.book_author%>/create">
                <div class="i-books-left-column-nav-div">WRITE SYNOPSIS</div>
            </a>
        </ul>
    </nav>
</div>