<% include ./partials/header %>
    <p>Search For a Book</p>
    <form action="/search" method="POST">
        <input type="text" name="query" placeholder="Enter a title or author name">
        <button>Submit</button>
    </form>
    <%if(books){%>
        <%books.forEach(book=>{%>
            <div><%=book.title%></div>
        <%})%>
    <%}%>

<% include ./partials/footer %>