<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/synopsis" method="POST">
        <input type="text" name="book_title" id="book_title" placeholder="Book Title">
        <input type="text" name="book_author" id="book_author" placeholder="Book Author">
        <input type="text" name="synopsis_author" id="synopsis_author" placeholder="Synopsis Author">
        <textarea name="synopsis_text" id="synopsis_text" placeholder="Synopsis"></textarea>
        <button>Submit</button>
    </form>
</body>
</html>