<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Synopsis</title>
</head>
<body>
    <div>
            <div>BOOK</div>

        <%synopsis.forEach(syn=>{%>
            <div>BOOK</div>
            <div><%=syn.book_title%></div>
            <div><%=syn.synopsis_author%></div>

        <%});%>
    </div>
    
</body>
</html>