<% include ../partials/header %>

    <div>
            <div>BOOK</div>

        <%synopsis.forEach(syn=>{%>
            <div>BOOK</div>
            <div><%=syn.book_title%></div>
            <div><%=syn.synopsis_author%></div>

        <%});%>
    </div>
    
</body>
</html>